.posts {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0 20px;
}

.posts > div {
    border: 2px solid lightsteelblue;
    width: calc((100% - 80px)/5);
}

.posts :last-child {
    margin-bottom: 0;
}