.users {
    display: flex;
    width: 100%;
    padding: 20px;
}

.users-wrap {
    width: 30%;
    margin-right: 30px;
}

.users-wrap > div {
    margin-bottom: 10px;
}

.users-wrap :last-child {
    margin-bottom: 0;
}

.posts-wrap {
    border: 2px solid lightblue;
    padding: 20px;
    width: 70%;
}

.posts-wrap > div {
    margin-bottom: 10px;
}

.posts-wrap :last-child {
    margin-bottom: 0;
}


