.user {
    border: 2px solid lightblue;
    padding: 20px;
}

.object-wrap {
    border: 1px solid lightblue;
    padding: 0 15px 5px;
}

.user > div {
    margin-bottom: 10px;
}

button {
    background: lightblue;
    padding: 3px 20px;
    font-size: 15px;
}