.car {
    display: flex;
    border-bottom: 1px solid mediumpurple;
    padding-left: 20px;
    padding-bottom: 2px;
    color: #574280FF;
}

.car > p:nth-child(2n) {
    width: 200px;
}

.car > p:nth-child(2n-1) {
    color: mediumpurple;
    margin-right: 10px;
}